@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@800&display=swap");
@import url("./Normalize.css");
:root {
  background-color: #C6C6C6;
}

.red_button {
  padding: 20px;
  background-color: #FF6262;
  color: white;
  border: none;
  width: 20vw;
  font-size: 1.25rem;
  border-radius: 2vh;
}
.red_button:hover {
  background-color: #ff7c7c;
  cursor: pointer;
}

@media (min-width: 1081px) {
  #fullsize {
    display: flex;
  }
  #mobile_size {
    display: none;
  }
}
@media (max-width: 1080px) {
  #fullsize {
    display: none;
  }
  #mobile_size {
    display: flex;
  }
  #mobile_size > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: fixed;
    transition: 500ms;
    height: 0;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: #FF6262;
    z-index: 80;
    font-family: Lato;
    font-size: 2rem;
    color: #EEEEEE;
  }
  #mobile_size > div > a {
    display: none;
  }
  #mobile_size .show {
    height: 100vh;
  }
  #mobile_size .show > a {
    display: block;
  }
  #mobile_size .show > i {
    cursor: pointer;
  }
  #mobile_size > i {
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
#navbar {
  background-color: #EEEEEE;
  display: flex;
}
#navbar > div:first-of-type {
  flex-grow: 1;
}
#navbar > a, #navbar > div > a {
  transition: 500ms;
  padding: 20px;
  font-family: Lato;
  text-align: center;
  font-size: 1.5rem;
}
#navbar > a:hover, #navbar > div > a:hover {
  background-color: #C6C6C6;
}
#navbar > a:first-child {
  font-size: 2rem;
  font-family: Poppins;
}
#navbar > a:first-child:hover {
  background-color: transparent;
}
#navbar > li, #navbar > div > li {
  list-style: none;
  transition: 500ms;
  padding: 20px;
  font-family: Lato;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
}
#navbar > li > ul, #navbar > li > ul > li, #navbar > div > li > ul, #navbar > div > li > ul > li {
  font-size: 1.25rem;
  list-style: none;
  padding-left: 0;
  display: none;
  position: absolute;
  z-index: 50;
  top: 3rem;
  transition: 500ms;
  background-color: #d9d9d9;
  width: 100%;
  left: 0;
}
#navbar > li > ul > :hover, #navbar > li > ul > li > :hover, #navbar > div > li > ul > :hover, #navbar > div > li > ul > li > :hover {
  background-color: #EEEEEE;
}
#navbar > li:hover, #navbar > div > li:hover {
  background-color: #C6C6C6;
}
#navbar > li:hover > ul, #navbar > div > li:hover > ul {
  display: block;
}

.mobile_menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #FF6262;
  z-index: 200;
}

section {
  min-height: calc(100vh - 3.5rem - 80px);
}

footer {
  font-family: "Lato", sans-serif;
  background-color: #EEEEEE;
  padding: 20px;
  font-size: 1rem;
  text-align: center;
}

#photo > img {
  display: flex;
  margin: auto;
  max-width: 70vw;
  max-height: 70vh;
}
#photo > div, #photo > h1 {
  text-align: center;
  width: 100vw;
  font-family: Lato;
}/*# sourceMappingURL=MediaPhoto.css.map */