@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@800&display=swap'); // font-family : Poppins; font-family : Lato;
@import url('./Normalize.css');

:root {
    background-color: #C6C6C6;
}

.red_button {
    padding: 20px;
    background-color: #FF6262;
    color: white;
    border: none;
    width: calc(100vw / 5);
    font-size: 1.25rem;
    border-radius: 2vh;

    &:hover {
        background-color: lighten($color: #FF6262, $amount: 5);
        cursor: pointer;
    }
}




@media (min-width: 1081px) {
    #fullsize {
        display: flex;
    }

    #mobile_size {
        display: none;
    }
}

@media (max-width: 1080px) {
    #fullsize {
        display: none;
    }

    #mobile_size {
        display: flex;

        &>div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            position: fixed;
            transition: 500ms;
            height: 0;
            width: 100vw;
            left: 0;
            top: 0;
            background-color: #FF6262;
            z-index: 80;
            font-family: Lato;
            font-size: 2rem;
            color: #EEEEEE;

            &>a {
                display: none;
            }
        }

        .show {
            height: 100vh;

            &>a {
                display: block;
            }

            &>i {
                cursor: pointer;
            }
        }

        &>i {
            padding: 20px;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}

#navbar {
    background-color: #EEEEEE;
    display: flex;

    &>div:first-of-type {
        flex-grow: 1;
    }

    &>a,
    &>div>a {
        transition: 500ms;
        padding: 20px;
        font-family: Lato;
        text-align: center;
        font-size: 1.5rem;

        &:hover {
            background-color: #C6C6C6;
        }
    }

    &>a {
        &:first-child {
            font-size: 2rem;
            font-family: Poppins;

            &:hover {
                background-color: transparent;
            }
        }
    }

    &>li,
    &>div>li {
        list-style: none;
        transition: 500ms;
        padding: 20px;
        font-family: Lato;
        text-align: center;
        font-size: 1.5rem;
        position: relative;

        &>ul,
        &>ul>li {
            font-size: 1.25rem;
            list-style: none;
            padding-left: 0;
            display: none;
            position: absolute;
            z-index: 50;
            top: 3rem;
            transition: 500ms;
            background-color: #d9d9d9;
            width: 100%;
            left: 0;

            &>:hover {
                background-color: #EEEEEE;
            }
        }

        &:hover {
            background-color: #C6C6C6;

            &>ul {
                display: block;
            }
        }
    }
}

.mobile_menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #FF6262;
    z-index: 200;
}

section {
    min-height: calc(100vh - 3.5rem - 80px);
}


footer {
    font-family: 'Lato', sans-serif;
    background-color: #EEEEEE;
    padding: 20px;
    font-size: 1rem;
    text-align: center;
}

#photo {
    &>img {
        display: flex;
        margin: auto;
        max-width: 70vw;
        max-height: 70vh;
    }

    &>div, &>h1 {
        text-align: center;
        width: 100vw;
        font-family: Lato;
    } 
}